<mat-horizontal-stepper [linear]="isLinear">
  <!-- Step 1 -->
  <mat-step [stepControl]="step1Forms[0]">
    <div *ngFor="let form of step1Forms; let i = index" [formGroup]="form">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Step 1 Form Instance
        </mat-expansion-panel-header>

        <mat-form-field class="full-width">
          <mat-label>Input 1</mat-label>
          <input matInput formControlName="input1" />
        </mat-form-field>

        <!-- Subfield Subfields -->
        <h4>Subfield</h4>
        <button mat-button (click)="addSubField(form, 'subFields')">
          Add Subfield Link
        </button>
        <div formArrayName="subFields">
          <div
            *ngFor="
              let subField of getFormArray(form, 'subFields').controls;
              let j = index
            "
          >
            <div class="social-link-container">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Subfields"
                  [formControl]="getFormControl(form, 'subFields', j)"
                />
              </mat-form-field>
              <button mat-button (click)="removeSubField(form, 'subFields', j)">
                Remove
              </button>
            </div>
          </div>
        </div>

        <!-- Links Subfields -->
        <h4>Links</h4>
        <button mat-button (click)="addSubField(form, 'links')">
          Add Social Link
        </button>
        <div formArrayName="links">
          <div
            *ngFor="
              let subField of getFormArray(form, 'links').controls;
              let j = index
            "
          >
            <div class="social-link-container">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Social Link"
                  [formControl]="getFormControl(form, 'links', j)"
                />
              </mat-form-field>
              <button mat-button (click)="removeSubField(form, 'links', j)">
                Remove
              </button>
            </div>
          </div>
        </div>

        <button mat-button (click)="deleteForm(step1Forms, i)">
          Delete Form
        </button>
      </mat-expansion-panel>
    </div>

    <button mat-button (click)="addForm(step1Forms)">Add Another Form</button>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="step2Forms[0]">
    <form *ngFor="let form of step2Forms; let i = index" [formGroup]="form">
      <ng-template matStepLabel>Step 2 Form</ng-template>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Step 2 Form Instance
        </mat-expansion-panel-header>
        <mat-form-field class="full-width">
          <mat-label>Input 1</mat-label>
          <input matInput formControlName="input1" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Input 2</mat-label>
          <input matInput formControlName="input2" />
        </mat-form-field>
        <button mat-button (click)="deleteForm(step2Forms, i)">Delete</button>
      </mat-expansion-panel>
    </form>
    <button mat-button (click)="addForm(step2Forms)">Add Another Form</button>
  </mat-step>

  <!-- Step 3 -->
  <mat-step [stepControl]="step3Forms[0]">
    <form *ngFor="let form of step3Forms; let i = index" [formGroup]="form">
      <ng-template matStepLabel>Step 3 Form</ng-template>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Step 3 Form Instance
        </mat-expansion-panel-header>
        <mat-form-field class="full-width">
          <mat-label>Textarea</mat-label>
          <textarea matInput formControlName="textarea"></textarea>
        </mat-form-field>
        <button mat-button (click)="deleteForm(step3Forms, i)">Delete</button>
      </mat-expansion-panel>
      <button mat-button (click)="addForm(step3Forms)">Add Another Form</button>
    </form>
  </mat-step>

  <!-- Submission Step -->
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Review and submit your data.</p>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </mat-step>
</mat-horizontal-stepper>
