<mat-horizontal-stepper [linear]="isLinear">
  <!-- Step 1 -->
  <mat-step [stepControl]="step1Forms[0]">
    <div *ngFor="let form of step1Forms; let i = index" [formGroup]="form">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Step 1 Form Instance
        </mat-expansion-panel-header>

        <mat-form-field class="full-width">
          <mat-label>Input 1</mat-label>
          <input matInput formControlName="input1" />
        </mat-form-field>

        <!-- Dynamic Subfields -->
        <div formArrayName="subFields">
          <div
            *ngFor="let subField of getSubFields(form).controls; let j = index"
          >
            <mat-form-field class="full-width">
              <mat-label>SubField {{ j + 1 }}</mat-label>
              <input matInput [formControl]="getSubFieldControl(form, j)" />
            </mat-form-field>
            <button mat-button (click)="removeSubField(form, j)">
              Remove SubField
            </button>
          </div>
        </div>

        <button mat-button (click)="addSubField(form)">Add SubField</button>
        <button mat-button (click)="deleteForm(step1Forms, i)">
          Delete Form
        </button>
      </mat-expansion-panel>
    </div>

    <button mat-button (click)="addForm(step1Forms)">Add Another Form</button>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="step2Forms[0]">
    <form *ngFor="let form of step2Forms; let i = index" [formGroup]="form">
      <ng-template matStepLabel>Step 2 Form</ng-template>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Step 2 Form Instance
        </mat-expansion-panel-header>
        <mat-form-field class="full-width">
          <mat-label>Input 1</mat-label>
          <input matInput formControlName="input1" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Input 2</mat-label>
          <input matInput formControlName="input2" />
        </mat-form-field>
        <button mat-button (click)="deleteForm(step2Forms, i)">Delete</button>
      </mat-expansion-panel>
    </form>
    <button mat-button (click)="addForm(step2Forms)">Add Another Form</button>
  </mat-step>

  <!-- Step 3 -->
  <mat-step [stepControl]="step3Forms[0]">
    <form *ngFor="let form of step3Forms; let i = index" [formGroup]="form">
      <ng-template matStepLabel>Step 3 Form</ng-template>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Step 3 Form Instance
        </mat-expansion-panel-header>
        <mat-form-field class="full-width">
          <mat-label>Textarea</mat-label>
          <textarea matInput formControlName="textarea"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
      <button mat-button (click)="deleteForm(step3Forms, i)">Delete</button>
    </form>
    <button mat-button (click)="addForm(step3Forms)">Add Another Form</button>
  </mat-step>

  <!-- Submission Step -->
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>Review and submit your data.</p>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </mat-step>
</mat-horizontal-stepper>
